.foot{
    background-color: black;
    color: #fff;
    
   }
   .footer{
     color: rgb(255, 255, 255);
     background-color: rgb(29, 28, 28);
   
   }
   h1{
    font-family: 'Dancing Script', cursive;
   }
   .card text-center{
    background-color: black;
    color: whitesmoke;
   }
   .gradient2{
    background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(131,37,37,1) 46%);
  }