.foot{
    background-color: black;
    color: #fff;
    
   }
   .footer{
     color: rgb(255, 255, 255);
     background-color: rgb(29, 28, 28);
   
   }
   h1{
    font-family: 'Dancing Script', cursive;
   }
   .card text-center{
    background-color: black;
    color: whitesmoke;
   }